
{{ if .Site.Params.widgets.eventUpcoming }}
<div class="widget">
	<header>
		<h4><i class="fa fa-calendar fa-fw"></i> Upcoming Events</h4>
	</header>
	<a class="widget-header-small button" href="webcal://{{ replace (replace $.Site.BaseURL "https://" "") "http://" ""}}index.ics"><span class="fa fa-calendar-plus-o"></span> Subscribe with iCal</a>
	<ul>
		{{ $.Scratch.Set "count" 0 }}
		{{ range sort $.Site.Data.events "startDatetime" "asc" }}
			{{ if and (ge (time .endDatetime).Unix (time now).Unix) (lt ($.Scratch.Get "count") $.Site.Params.widgets.eventUpcoming) }}
			{{ $.Scratch.Set "count" (add ($.Scratch.Get "count") 1) }}
			<li itemscope itemtype="http://schema.org/Event">
				{{ if .url }}
					<h6 itemprop="name"><a href="{{ .url }}" title="{{ .name }}">{{ .name }}</a></h6>
				{{ else }}
					<h6 itemprop="name">{{ .name }}</h6>
				{{ end }}
				<div class="event-start-end">
					<time datetime="{{ dateFormat "2006-01-02T15:04:05" .startDatetime }}" content="{{ dateFormat "2006-01-02T15:04:05" .startDatetime }}" itemprop="startDate">{{ dateFormat "02/01/2006 @ 15:04" .startDatetime }}</time>
					-
					{{ if ne (dateFormat "02/01/2006" .startDatetime) (dateFormat "02/01/2006" .endDatetime) }}
					<time datetime="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" content="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" itemprop="endDate">{{ dateFormat "02/01/2006 @ 15:04" .endDatetime }}</time>
					{{ else }}
					<time datetime="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" content="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" itemprop="endDate">{{ dateFormat "15:04" .endDatetime }}</time>
					{{ end }}
				</div>
				<span itemprop="about">{{ .description | markdownify }}</span>
			</li>
			{{ end }}
		{{ end }}
	</ul>
</div>
{{ end }}