{{ partial "header.html" . }}
  {{ if .Params.thumbnail }}
  <figure class="post-banner{{ with .Params.thumbnailCssClass }} {{ . }}{{ end }}" style="background-image: url( {{ .Params.thumbnail }} );">
  {{ if .Params.thumbnailCaption }}
    <figcaption>{{ .Params.thumbnailCaption | safeHTML }}</figcaption>
  {{ end }}
  </figure>
  <div id="main-container" class="row" role="main">
  {{ else }}
  <div id="main-container" class="row no-post-banner" role="main">
  {{ end }}
    {{ if .Site.Params.leftsidebar }}{{ partial "sidebar.html" . }}{{ end }}
    
  <main id="post-list" class="row-item small-full medium-two-thirds large-three-quarters">
    {{ if not .IsHome }}
		<header id="page-header">
			<h1 id="page-title">{{ .Title }}</h1>
		</header>
		{{ end }}
    {{ .Content }}
    {{ if (or (not (isset .Params "hide_list")) (not .Params.hide_list)) }}
      {{ if .IsHome }}
        {{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}
        {{ range $paginator.Pages }}
          {{ partial "list_item.html" . }}
        {{ end }}
      {{ else }}
    		{{ range .Paginator.Pages }}
    		  {{ partial "list_item.html" . }}
    		{{ end }}
      {{ end }}
      {{ partial "pagination.html" . }}
    {{ end }}
  </main>
{{ partial "footer.html" . }}
