{{ partial "header.html" . }}
  {{ if .Params.thumbnail }}
  <figure class="post-banner" style="{{ with .Params.thumbnail_offset }}background-position: {{ . }}{{ end }}; background-image: url( {{ .Params.thumbnail }} )">
  </figure>
  <div id="main-container" class="row" role="main">
  {{ else }}
  <div id="main-container" class="row no-post-banner" role="main">
  {{ end }}
  {{ if .Site.Params.leftsidebar }}{{ partial "sidebar.html" . }}{{ end }}

  <main class="row-item small-full medium-two-thirds large-three-quarters">
    <article id="post-article">
      <header id="page-header">
        <h1>{{ .Title }}</h1>
        {{ if or (not .Date.IsZero) (.Params.categories) }}
  			<p id="post-metadata" class="row">
          {{ if not .Date.IsZero }}
    				<i class="fa fa-clock-o fa-fw"></i>
    				<time datetime="{{ .Date.Format "2006-01-02" }}">{{.Date.Format "02 January, 2006"}}</time>
  				{{ end }}
<!--  				{{ if .Params.categories }}
  				<span class="row-item">
  					<i class="fi-folder"></i>
  					{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "categories/" | absLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}
          </span>
  				{{ end }}-->
          {{ if not .Params.hide_readingtime }}
          <i class="fa fa-book fa-fw"></i>Estimated reading time: ~{{ .ReadingTime }} minutes
          {{ end }}
  			</p>
  			{{ end }}
      </header>
      <div id="post-content">
        {{ if and (isset .Params "enable_toc") (eq .Params.enable_toc true) }}{{ .TableOfContents }}{{ end }}
        {{ .Content }}
        {{ if .Params.thumbnail_caption }}
          <figcaption>{{ .Params.thumbnail_caption | safeHTML }}</figcaption>
        {{ end }}
        {{ partial "post_tags.html" . }}
        {{ partial "sharing.html" . }}
  		</div>
    </article>
    {{ partial "authorbox.html" . }}
  	{{ partial "post_nav.html" . }}
  	{{ partial "comments.html" . }}
  </main>
{{ partial "footer.html" . }}
