#post-list article {
  border-bottom: 1px solid {{ .Get "colr_alt_text" }};
}

#post-list .media-object-section {
  padding: 0;
}

.post-list-thumbnail {
  float: left;
}

.post-list-thumbnail img {
  width: 200px;
  padding: 0 10px 10px 0;
  display: block;
}

/* The listed post title */
.post-list-title {
  text-align: left;
  margin-bottom: 1rem;
}

#post-list .metadata {
  margin: 0;
  font-size: 0.75rem;
  color: {{ .Get "colr_default_text" }};
}

#post-list .metadata time {
  margin-right: 1rem; 
}

/* Site main - pagination */

.pagination .pagination-previous a,
.pagination .pagination-next a {
  color: {{ .Get "colr_accent" }};
}

.pagination .pagination-previous a:hover,
.pagination .pagination-next a:hover {
  color: {{ .Get "colr_header_text" }};
  background-color: {{ .Get "colr_accent" }};
}

.metadata {
  color: {{ .Get "colr_accent" }}
}
