/* Fix some of the resets */
* {
  box-sizing: border-box;
}
body {
  font-family: {{ .Get "font_default" }}, sans-serif;
}
p { margin-bottom: 1rem; }
p, li { line-height: 1.5; }
ul {
  list-style: none;
  margin-bottom: 1rem;
}
ul > li > ul { margin-bottom: 0; }
main ul { list-style: disc outside; }

li > ul {
  margin-left: 2rem;
}

div, article {
  margin: 0.5rem 0;
}

h1 { 
  font-size: 3.4rem;
  margin-bottom: 1.6rem;
}

h2 { 
  font-size: 2.5rem;
  margin-bottom: 1.4rem; 
}

h3 { 
  font-size: 2.2rem; 
  margin-bottom: 0.9rem; 
}

h4 { 
  font-size: 1.9rem; 
  margin-bottom: 0.6rem; 
}

h5 { 
  font-size: 1.4rem; 
  margin-bottom: 0.4rem;
  font-weight: bold; 
}

h6 { 
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;  
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  font-family: {{ .Get "font_postHeader" }}, sans-serif;
}

h2,h3,h4,h5,h6 {
  margin-top: 3rem;
}

table {
  margin-bottom: 1rem;
}

code { 
  padding: 0.2rem; 
  display: inline-block;
}

code, pre {
  max-width: 100%;
  font-family: {{ .Get "font_code" }}, monospace !important;
}

th, td {
  padding: 0.6rem;
  vertical-align: middle;
}

/*blockquote::before {
  content: "\201C";
  display: block;
  font-size: 80px;
  left: -20px;
  top: -30px;
  position: relative;
  height: 0;
}

blockquote::after {
  content: "\201D";
  display: block;
  font-size: 80px;
  left: -20px;
  top: -20px;
  position: relative;
  height: 0;
}*/


blockquote {
  padding: 0.5rem 1rem 0.1rem;
  font-weight: bold;
  font-style: italic;
  /*font-size: 1em;*/
  margin-bottom: 1rem;
  color: {{ .Get "accent" }};
  border-left: .25rem solid {{ .Get "accent" }};
  display: block;
}

a { text-decoration: none; }

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

small { font-size: 0.8em;}

sup { position: relative; top: -0.5em; font-size: 80%; }
