/* Site main - single */

#post-metadata a {
  color: {{ .Get "colr_default_text" }};
}

#post-tags .menu {
  justify-content: center;
}

#post-tags i {
  font-size: 2rem;
}

#post-tags .button {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

main img {
  max-width: 100%;
}

.thumbnail img {
  padding-bottom: 1rem;
}

li img {
  padding: 1rem 0 1rem 0;
}

#page-header {
  text-align: left;
  margin-bottom: 2rem;
}

#page-header .metadata {
  justify-content: left;
  margin: 0;
  font-size: 0.75rem;
  color: {{ .Get "colr_default_text" }};
}

#page-header .metadata time {
  margin-right: 1rem; 
}

.metadata #reading-time {
  margin-right: 1rem;
}
/* Site main - taxonomy list */

.taxonomy-item {
  list-style-type: none;
}

/* Table of Contents */
#TableOfContents::before {
  content: "Table of Contents";
}

#TableOfContents {
  display: inline-block;
  background-color: {{ .Get "colr_alt_bg" }};
  border: 1px solid {{ .Get "colr_accent" }};
  padding: 5px;
  margin-bottom: 25px;
}

#TableOfContents > ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 1rem;
}

#TableOfContents a {
  color: {{ .Get "colr_alt_text" }};
}

/* Tables */

table, table thead th, table tbody td {
  border: 1px solid {{ .Get "colr_default_text" }};
  border-collapse: collapse;
}

table thead th {
  background-color: {{ .Get "colr_accent" }};
  color: {{ .Get "colr_header_text" }};
}

table thead th a, table thead th a:hover {
  color: {{ .Get "colr_header_text" }};
  text-decoration: underline;
}

table tbody tr {
  color: {{ .Get "colr_default_text" }};
  background-color: {{ .Get "colr_main_bg" }};
}

/*table tbody tr:nth-child(even) {
  background-color: {{ .Get "colr_alt_bg" }};
  color: {{ .Get "colr_alt_text" }};
}*/

#post-content .thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#post-content ul {
    margin-bottom: 0rem;
}

#post-article h1, 
#post-article h2,
#post-article h3,
#post-article h4,
#post-article h5,
#post-article h6 {
  font-family: {{ .Get "font_postHeader" }};
  text-align: left;
}

#post-article {
    font-family: {{ .Get "font_postText" }};
    font-weight: 400;
}

