/* Widgets */

.widget header, #main-nav {
  margin: 0.5rem 0;
  border-bottom: 3px solid {{ .Get "accent" }};
}

.widget ul li {
  border-bottom: 1px dotted {{ .Get "alt_body_text" }};
  padding: 0.2rem;
  font-size: 1rem;
}

.widget-title {
  font-size: 1.3rem;
}

/* Widgets -- Authorbox/Memberbox */

#authorbox #social-icons a:link,
#authorbox #social-icons a:visited,
#authorbox #social-icons a:active,
#authorbox #social-icons a:focus {
  color: {{ .Get "body_text" }};
  text-decoration: none;
}

#authorbox #social-icons a:hover {
  color: {{ .Get "accent" }};
}

#authorbox .authorname {
  font-size: 1.3rem;
  font-weight: bold;
}

.memberbox {
  background-color: {{ .Get "main_bg" }};
  color: {{ .Get "body_text" }};
  padding: 1rem 0.7rem;
  border-bottom: 1px solid {{ .Get "alt_body_text" }};
  flex-wrap: nowrap;
}

.memberbox .top-border {
  border-top: 1px solid {{ .Get "alt_body_text" }};
}

.memberbox img {
  border: 3px solid {{ .Get "alt_body_text" }};
}

.member-avatar {
  flex-shrink: 0;
}

/* Widgets -- Patreon */
  /* Contain the banner within the sidebar */
#patreon-banner {
  width: 100%;
}
