{{ if and (.Site.Params.image_attribution) (not .Params.hide_image_attribution) }}

  {{ range $.Site.Data.attribution }}
    {{ if (eq .thumbnail $.Params.thumbnail) }}

      <div id="attribution">
        <a href="{{ .thumbnail_source_url }}" alt="{{ .thumbnail_desc }}">Image</a> courtesy of <a href="{{ .owner_profile_url }}" alt="{{ .owner_name }} Profile Page">{{ .owner_name }}</a> used under <a href="{{ .license_url }}" alt="{{ .license_name }}">{{ .license_name }}</a> licence.
      </div>

    {{ end }}
  {{ end }}
{{ end }}