{{ if and (.Site.Params.authorbox) (not .Params.hide_authorbox) }}

{{ range $.Site.Data.members }}
	{{ if or (and (and (isset $.Site.Params "author") (not (isset $.Params "author"))) (eq .name $.Site.Params.author )) (and (isset $.Params "author") (eq .name $.Params.author)) }}
	<div id="authorbox" class="row vcenter memberbox">
		<div class="row-item member-avatar">
				<img alt="{{ .Name }} avatar" src="{{ with .img }}{{ . | absURL }}{{ else }}{{ "images/profile.jpg" | absURL }}{{ end }}" height="90" width="90">
		</div>
		<div class="row-item member-bio">
			<div>
				<span class="widget-title">About {{ .name }}</span>
        <span style="float: right" class="small-full medium-half row-item small-text-center medium-text-right" id="social-icons">
          {{ with .deviantart }}<a href="https://{{ . }}.deviantart.com"><i class="fi-social-deviant-art"></i></a>{{ end }}
          {{ with .facebook }}<a href="https://facebook.com/{{ . }}"><i class="fi-social-facebook"></i></a>{{ end }}
          {{ with .github }}<a href="https://github.com/{{ . }}"><i class="fi-social-github"></i></a>{{ end }}
          {{ with .googleplus }}<a href="https://plus.google.com/{{ . }}"><i class="fi-social-google-plus"></i></a>{{ end }}
          {{ with .instagram }}<a href="https://instagram.com/{{ . }}"><i class="fi-social-instagram"></i></a>{{ end }}
          {{ with .linkedin }}<a href="https://linkedin.com/in/{{ . }}"><i class="fi-social-linkedin"></i></a>{{ end }}
          {{ with .pinterest }}<a href="https://pinterest.com/{{ . }}"><i class="fi-social-pinterest"></i></a>{{ end }}
          {{ with .reddit }}<a href="https://www.reddit.com/user/{{ . }}"><i class="fi-social-reddit"></i></a>{{ end }}
          {{ with .spotify }}<a href="https://open.spotify.com/user/{{ . }}"><i class="fi-social-spotify"></i></a>{{ end }}
          {{ with .steam }}<a href="https://steamcommunity.com/{{ . }}"><i class="fi-social-steam"></i></a>{{ end }}
          {{ with .tumblr }}<a href="https://{{ . }}.tumblr.com/"><i class="fi-social-tumblr"></i></a>{{ end }}
          {{ with .twitter }}<a href="https://twitter.com/@{{ . }}"><i class="fi-social-twitter"></i></a>{{ end }}
          {{ with .youtube }}<a href="https://www.youtube.com/user/{{ . }}"><i class="fi-social-youtube"></i></a>{{ end }}
        </span>
			</div>
			<p>
				{{ .bio }}
			</p>
		</div>
	</div>
	{{ end }}
{{ end }}
{{ end }}
