      {{ if not .Site.Params.leftsidebar }}{{ partial "sidebar.html" . }}{{ end }}
    </div>
    <footer class="row">
      <div class="small-full medium-half row-item small-text-center medium-text-left">{{ with .Site.Params.Footer.copyright }}<small>{{ . | markdownify }}</small>{{ end }}</div>
      <div class="small-full medium-half row-item small-text-center medium-text-right" id="social-icons">
        {{ with .Site.Params.social.deviantart }}<a href="https://{{ . }}.deviantart.com">
          <i class="fa fa-deviantart fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.facebook }}<a href="https://facebook.com/{{ . }}">
          <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.github }}<a href="https://github.com/{{ . }}">
          <i class="fa fa-github fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.googleplus }}<a href="https://plus.google.com/{{ . }}">
          <i class="fa fa-google-plus-official fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.instagram }}<a href="https://instagram.com/{{ . }}">
          <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.linkedin }}<a href="https://linkedin.com/in/{{ . }}">
          <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.meetup }}<a href="https://www.meetup.com/{{ . }}">
          <i class="fa fa-meetup fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.pinterest }}<a href="https://pinterest.com/{{ . }}">
          <i class="fa fa-pinterest-p fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.reddit }}<a href="https://www.reddit.com/user/{{ . }}">
          <i class="fa fa-reddit fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.spotify }}<a href="https://open.spotify.com/user/{{ . }}">
          <i class="fa fa-spotify fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.steam }}<a href="https://steamcommunity.com/{{ . }}">
          <i class="fa fa-steam fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.tumblr }}<a href="https://{{ . }}.tumblr.com/">
          <i class="fa fa-tumblr fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.twitter }}<a href="https://twitter.com/{{ . }}">
          <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.youtube }}<a href="https://www.youtube.com/user/{{ . }}">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>{{ end }}
      </div>
    </footer>
  </div>
{{ range .Site.Params.custom_js_foot }}
  <script src="{{ . | absURL }}"></script>
{{ end }}
</body>
</html>
