<article>
  <div>
      <header class="post-list-title">
      <a href="{{ .Permalink }}">
        <h4>{{ .Title }}</h4>
      </a>
      <div class="metadata">
        <i class="fi-calendar"></i>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{.Date.Format "January 02, 2006"}}</time>
      </div>
    </header>
  </div>
  <div style="height: auto; overflow: auto">
  {{ if .Params.thumbnail }}
    <div style="float: left; height: 120px; width: 192px; padding: 0 10px 10px 0">
    <figure>
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.thumbnail | absURL }}" alt="{{ .Title }}" />
      </a>
    </figure>
  </div>
  {{ end }}
    <div class="post-list-summary">
      <p>
        {{ $page := . }}
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ .Summary | markdownify }}{{ if .Truncated }} [...]{{ end }}
        {{ end }}
      </p>
    </div>
  </div>
</article>
