{{ if not .Params.disable_sharing }}
    {{ if .IsPage }} 
        {{ with .Params.thumbnail }}
            <!-- Twitter summary card with large image must be at least 280x150px -->
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:image" content="{{ .  | absURL }}" /> 
        {{ else }}
            <meta name="twitter:card" content="summary" />
        {{ end }}
        {{ with .Params.descriptionShort }}
            <meta name="twitter:description" content="{{ . | safeHTML }}" />
        {{ else }}
            <meta name="twitter:description" content="{{ .Description | safeHTML}}" /> 
        {{ end }}
    {{ else }}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="{{ .Site.Params.description | safeHTML }}" />
        {{ with .Params.thumbnail }}
            <meta name="twitter:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ .Title | safeHTML }}" />
    {{ with $.Site.Params.Social.twitter }}
        <meta name="twitter:site" content="@{{ . }}" />
    {{ end }}
{{ end }}